*.xml
*.log
*.apk
*.iml
**/.vscode/
**/.idea/
*.pyc
.DS_Store
*.cfg
*.sqlite3
checkpoints/
runs/
__pycache__/
*.npy
*.so
.rendered
/notebooks/.ipynb_checkpoints/Gowalla dataset exploration-checkpoint.ipynb
